html, body {
  font-family: 'Open Sans', sans-serif;
  color: #756e64;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  background: #8D3105;
  position: relative;
}

body * {
  box-sizing: border-box;
}

body > #error-field {
  position: absolute;
  z-index: 1;
  top: -20vh;
  width: 90%;
  min-height: 30px;
  line-height: 30px;
  left: 50%;
  background: #444;
  color: #fff;
  transform: translateX(-50%);
  padding: 10px;
  border: 3px solid #cc0000;
  border-radius: 10px;
  transition: top .75s;
}

body > #error-field.show {
  top: 3vh;
}

#container {
  height: 100vh;
  position: relative;
}

#container > div {
  border: 1px solid #fff;
  border-bottom: 0;
}

#container > div > h1 {
  color: #fff;
  margin: 0;
  padding: 0;
  background: #008D81;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 6vh;
  height: 6vh;
}

#container > div:nth-of-type(2) {
  overflow: hidden;
}

#container > div > canvas {
  width: 100%;
  height: 30vh;
  background: #cc0000;
}

#container > div:nth-of-type(3) {
  background: #008D81;
}

#container > div:nth-of-type(4) {
  background: #0EDAC8;
}

#container > div > input[type=range] {
  background: transparent;
  -webkit-appearance: none;
  margin: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 14vh;
}

/* range sliders */
#container > div input[type=range]:focus {
  outline: none;
}

#container > div input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14vh;
  cursor: pointer;
}

#container > div input[type=range]::-webkit-slider-thumb {
  width: 20vw;
  height: 14vh;
  background: #FF6F2A;
  cursor: pointer;
  -webkit-appearance: none;
  outline: 1px solid #fff;
  border: 0;
}

/* labels */
#container > div > input[type=range]:after {
  position: absolute;
  display: block;
  left: calc(50% - 25vw);
  width: 50vw;
  height: 8vh;
  line-height: 8vh;
  background: #c70d3c;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  border: 1px solid #fff;
  z-index: 1;
}

#container > div:nth-of-type(3) input[type=range]:after {
  content: 'Threshold ' attr(value);
  top: -5vh;
}

#container > div:nth-of-type(4) input[type=range]:after {
  content: 'Delay ' attr(value) 's';
  top: auto;
  bottom: -5vh;
}

/* start/stop */
#container > div:last-child {
  border-bottom: 1px solid #fff;
}

#container > div:last-child input[type=checkbox] {
  visible: hidden;
  position: absolute;
  left: -100000px;
}

#container > div:last-child label {
  display: table;
  width: 100%;
  height: 35vh;
  border: none;
  border-radius: 0;
  background: #da500e;
  color: #fff;
  font-size: 88px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: relative;
}

#container > div:last-child label:after {
  content: 'Start';
  display: table-cell;
  vertical-align: middle;
}

#container > div:last-child input[type=checkbox]:checked ~ label:after {
  content: 'Stop';
}

@media all and (min-width: 480px) {
/*  #container > div:nth-child(3),*/
/*  #container > div:nth-child(4) {*/
/*    width: 70vw;*/
/*    height: 25vh;*/
/*  }*/

  #container > div:nth-of-type(3),
  #container > div:nth-of-type(4) {
    width: 70vw;
  }

  /* start button */
  #container > div:last-child {
    position: relative;
    width: calc(30vw + 1px);
    float: right;
    top: calc(-28vh - 2px);
/*    float: right;*/
/*    margin-top: calc(-50vh - 2px);*/
/*  margin-top: calc(-50vh);*/
  }

  #container > div:last-child label {
    font-size: 24px;
  }
/*  #container > div input[type=range]::-webkit-slider-runnable-track,*/
/*  #container > div input[type=range]::-webkit-slider-thumb {*/
/*    height: 25vh;*/
/*  }*/
}

/*@media all and (min-width: 768px) {*/
/*  body > h1 {*/
/*    width: 766px;*/
/*    font-size: 20px;*/
/*  }*/
/**/
/*  #container {*/
/*    width: 768px;*/
/*    height: 600px;*/
/*    margin: 0 auto;*/
/*  }*/
/**/
/*  #container > div {*/
/*    height: 150px;*/
/*  }*/
/**/
/*  #container > div:first-child,*/
/*  #container > div:last-child {*/
/*    height: 300px;*/
/*  }*/
/**/
/*  #container > div:nth-child(2),*/
/*  #container > div:nth-child(3) {*/
/*    width: 75%;*/
/*    height: 150px;*/
/*  }*/
/**/
/*  /* start button */*/
/*  #container > div:last-child {*/
/*    width: calc(25% - 3px);*/
/*/*    height: 301px;*/*/
/*/*    margin-top: -302px;*/*/
/*  }*/
/**/
/*  #container > div input[type=range]:after {*/
/*    width: 150px;*/
/*    height: 48px;*/
/*    line-height: 48px;*/
/*    left: calc(50% - 75px);*/
/*  }*/
/**/
/*  #container > div:nth-child(2) input[type=range]:after {*/
/*    top: -24px;*/
/*  }*/
/**/
/*  #container > div:nth-child(3) input[type=range]:after {*/
/*    top: auto;*/
/*    bottom: -24px;*/
/*  }*/
/**/
/*  #container > div input[type=range]::-webkit-slider-runnable-track,*/
/*  #container > div input[type=range]::-webkit-slider-thumb {*/
/*    height: 150px;*/
/*  }*/
/**/
/*  #container > div input[type=range]::-webkit-slider-thumb {*/
/*    width: 150px;*/
/*  }*/
/*}*/
